{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block page_content %}
    <div class="card mx-auto w-50 mt-5 px-3 py-3">
        <form method="POST"
              enctype="multipart/form-data" id="productForm">
            {{ form.hidden_tag() }}
            <div class="d-flex">
                <div class="my-auto" style="width: 6rem">{{ form.avatar.label }}</div>
                <div class="flex-fill">
                    <img src="{{ form.avatar.data }}" class="rounded-circle border border-1 border-opacity-50" alt=""
                                        style="height: 100px; width:100px;"></div>
            </div>

            <div class="d-flex mt-3">
                <div class="my-auto" style="width: 6rem">{{ form.username.label }}</div>
                <div class="flex-fill">{{ form.username(class='form-control', disabled=status==0) }}</div>
            </div>

            <div class="d-flex mt-3">
                <div class="my-auto" style="width: 6rem">{{ form.email.label }}</div>
                <div class="flex-fill">{{ form.email(class='form-control', disabled=status==0) }}</div>
            </div>

            <div class="d-flex mt-3">
                <div class="my-auto" style="width: 6rem">{{ form.location.label }}</div>
                <div class="flex-fill">{{ form.location(class='form-control', disabled=status==0) }}</div>
            </div>

            <div class="d-flex mt-3">
                <div style="width: 6rem">{{ form.about_me.label }}</div>
                <div class="flex-fill">{{ form.about_me(class='form-control', disabled=status==0) }}</div>
            </div>

            <div class="mt-4 float-end">
                <button
                        type="button"
                        onclick="window.history.back();"
                        class="btn btn-sm btn-bottom btn-primary">返回
                </button>
                {% if status != 0 %}
                    <button name="submit" id="submit"
                            type="submit" class="btn btn-sm btn-bottom btn-outline-primary ms-3">提交
                    </button>
                {% endif %}
            </div>
        </form>
    </div>


{% endblock %}