{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'macros/_macros_table.html' import h_render_table %}

<div class="card px-3 py-4">
    <div class="w-100">
        <div class="d-flex justify-content-between mb-3">
            <form class="d-flex form-search" role="search" id="search-form-classify">
                <i class="bi bi-search search-icon"></i>
                <input class="form-control search-input  me-2" type="search" placeholder="查询" aria-label="Search">
                <button class="btn btn-outline-success d-none" type="submit">Search</button>
            </form>
    
            <div class="text-end">
                <a title="new" href="{{ url_for('product.classify_edit') }}" class="btn btn-sm btn-primary btn-top"><i class="bi bi-plus me-1"></i>新增</a>
            </div>
        </div>

        <div id="table-container-classify">
            {{ h_render_table(classify,
                titles=titles,
                actions_title='操作',
                urlize_columns=('text'),
                table_classes='text-center table-hover',
                header_classes='table-light',
                show_actions=True,
                view_url=('product.classify_view', [('classify_id', ':id')]),
                edit_url=('product.classify_edit', [('classify_id', ':id')]),
                delete_url=('product.classify_delete', [('classify_id', ':id')]),
                ) }}

            <div class="mt-3">
                {{ render_pagination(pagination, size='sm', align='right') }}
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
<script>
    $('#search-form-classify input').on('input', function (e) {
        let search = $(this).val()
        $.ajax({
            url: `/product/classify/search?search=${search}`,
            type: 'GET',
            contentType: false,
            processData: false,
            success: function (response) {
                $("#table-container-classify").html(response)
            },
            error: function (xhr, status, error) {
                console.log("error", error)
            }
        });
    })
</script>
