{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'bootstrap5/table.html' import render_table %}
{% from 'macros/_macros_table.html' import h_render_table %}

<div class="card px-3 py-4">
    <div class="w-100">
        <div class="py-3 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for item in product %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ item.image1|format_images }}" class="w-100 card-img-top"
                                     style="height: 225px">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.name }}</h5>
                                    <p class="card-text text-body-secondary multi-line-two"
                                       style="font-size:0.85em">{{ item.introduction }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a type="button"
                                               href="{{ url_for('product.product_view', product_id=item.id, type=0) }}"
                                               class="btn btn-sm btn-outline-primary">查看</a>
                                            <a type="button"
                                               href="{{ url_for('product.product_edit', product_id=item.id, type=0) }}"
                                               class="btn btn-sm btn-outline-primary">编辑</a>
                                            <a type="button"
                                               class="btn btn-sm btn-outline-primary"
                                               data-bs-toggle="modal"
                                               data-bs-target="#deleteCreditsModal{{ item.id }}">删除</a>
                                        </div>
                                        <small class="text-body-secondary">9 mins</small>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="deleteCreditsModal{{ item.id }}" tabindex="-1"
                                 aria-labelledby="exampleeCreditsModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleeCreditsModalLabel">系统提示</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            确定删除「{{ item.name }}」吗？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                                                关闭
                                            </button>
                                            <button type="button" id="btnDeleteCredits" data-product-id="{{ item.id }}"
                                                    class="btn btn-outline-primary">保存
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        {{ render_pagination(pagination, align='right', size='sm') }}
    </div>
</div>


<a href="{{ url_for('product.product_edit',type=0) }}" class="floating-btn btn btn-lg">
    <i class="bi bi-plus-lg"></i>
</a>