{% extends 'base.html' %}

{% block page_content %}
    <div class="workbench-tabs mt-4">
        <ul class="nav nav-tabs justify-content-end" role="tablist">
            <li class="nav-item">
                <a {% if show_type == 0 %} class="nav-link active" {% else %}  class="nav-link" {% endif %}
                                           role="tab"
                                           id="tab-product"
                                           href="{{ url_for('product.index') }}">产品详情</a>
            </li>
            <li class="nav-item">
                <a {% if show_type == 1 %} class=" nav-link active" {% else %} class="nav-link" {% endif %}
                                           role="tab"
                                           id="tab-credits"
                                           href="{{ url_for('product.credits') }}">积分商城</a>
            </li>
            <li class="nav-item">
                <a {% if show_type == 2 %} class=" nav-link active" {% else %} class="nav-link" {% endif %}
                                           role="tab"
                                           id="tab-classify"
                                           href="{{ url_for('product.classify') }}">产品类别</a>
            </li>
        </ul>

        {% if show_type == 0 %}
            {% include 'product/product_list.html' %}
        {% elif show_type == 1 %}
            {% include 'product/credits_list.html' %}
        {% else %}
            {% include 'product/classify_list.html' %}
        {% endif %}

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $('#search-form-classify input').on('input', function (e) {
            let search = $(this).val()
            $.ajax({
                url: `/product/classify/search?search=${search}`,
                type: 'GET',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#table-container-classify").html(response)
                },
                error: function (xhr, status, error) {
                    console.log("error", error)
                }
            });
        })

        $('#search-form-product input').on('input', function (e) {
            let search = $(this).val()
            $.ajax({
                url: `/product/search?search=${search}`,
                type: 'GET',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#table-container-product").html(response)
                },
                error: function (xhr, status, error) {
                    console.log("error", error)
                }
            });
        })

        $('#btnDeleteCredits').on('click', (e) => {
                e.preventDefault();
                let productId = $('#btnDeleteCredits').data('product-id');
                $.ajax({
                    url: `/product/${productId}/credits_delete`,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        // 请求成功后的回调
                        if (response.redirect) {
                            window.location.href = response.redirect; // 前端手动跳转
                        }
                    },
                    error: function (xhr, status, error) {
                        // 请求失败后的回调
                        console.error('Submission failed:', error);
                        //alert('Submission failed!');
                    }
                });
            })
    </script>
{% endblock %}