{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'bootstrap5/table.html' import render_table %}
{% from 'macros/_macros_table.html' import h_render_table %}


<div class="d-flex flex-column align-items-end py-4 my-2">
    <div class="w-100">
        {{ h_render_table(
                        classify,
                        titles=titles,
                        actions_title='操作',
                        urlize_columns=('text'),
                        table_classes='table-striped text-center',
                        show_actions=True,
                        delete_modal=True,
                        view_url=('product.classify_view', [('classify_id', ':id')]),
                        edit_url=('product.classify_edit', [('classify_id', ':id')]),
                        delete_url=('product.classify_delete', [('classify_id', ':id')]),
                        new_url=url_for('product.classify_edit')
                        ) }}
    </div>
    <div class="mt-4">
        {{ render_pagination(pagination) }}
    </div>
</div>