{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <div class="card p-5 m-5">
        <form method="POST"
              enctype="multipart/form-data" id="productForm">
            <div id="productFormInfo" data-product="{{ product }}"></div>
            <div id="productIsView" data-is-view="{{ is_view }}"></div>
            <div id="productType" data-type="{{ type }}"></div>
            {{ form.csrf_token }}
            <div class="mt-3 row">
                <span class="col-2 my-auto">{{ form.name.label }}</span>
                <div class="col-4">{{ form.name(class='form-control', disabled=is_view==0) }}</div>
                <span class="col-2 my-auto">{{ form.classify.label }}</span>
                <div class="col-4">{{ form.classify(class='form-control', disabled=is_view == 0) }}</div>
            </div>
            <div class="mt-3 row">
                {% if type == 0 %}
                    <span class="col-2 my-auto">{{ form.credits.label }}</span>
                    <div class="col-4">{{ form.credits(class='form-control', disabled=is_view == 0) }}</div>
                {% else %}
                    <span class="col-2 my-auto">{{ form.price.label }}</span>
                    <div class="col-4">{{ form.price(class='form-control', disabled=is_view == 0) }}</div>
                {% endif %}

                <span class="col-2 my-auto">{{ form.discount.label }}</span>
                <div class="col-4">{{ form.discount(class='form-control', disabled=is_view==0 or type == 0) }}</div>
            </div>

            <div class="mt-3 row">
                <span class="col-2 my-auto">{{ form.introduction.label }}</span>
                <div class="col-10">{{ form.introduction(class='form-control', disabled=is_view == 0) }}</div>
            </div>

            <div class="mt-3 row">
                <span class="col-2 text-start">{{ form.image1.label }}</span>
                <div class="col-10">
                    <div id="product-top-image-area"></div>
                </div>
            </div>

            <div class="mt-3 row">
                <span class="col-2 text-start">{{ form.image2.label }}</span>
                <div class="col-10">
                    <div id="product-info-image-area"></div>
                </div>
            </div>

            <div class="mt-4 float-end">
                <button
                        type="button"
                        onclick="window.history.back();"
                        class="btn btn-primary">返回
                </button>
                {% if is_view != 0 %}
                    <button name="submit" id="submit"
                            type="submit" class="btn btn-outline-primary ms-3">提交
                    </button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="module" src={{ url_for('static', filename='js/product.js') }}></script>
{% endblock %}