{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'bootstrap5/table.html' import render_table %}
{% from 'macros/_macros_table.html' import h_render_table %}

<div class="d-flex flex-column align-items-end py-4 my-2">
    <div class="w-100 rounded-5">
        {{ h_render_table(
                    products,
                    titles=titles,
                    actions_title='操作',
                    urlize_columns=('text'),
                    table_classes='table-striped text-center',
                    show_actions=True,
                    delete_modal=True,
                    delete_url=('product.product_delete', [('product_id', ':id')]),
                    view_url=('product.product_view', [('product_id', ':id')]),
                    edit_url=('product.product_edit', [('product_id', ':id')]),
                    new_url=url_for('product.product_edit')
                    ) }}
    </div>
    <div class="mt-4">
        {{ render_pagination(pagination) }}
    </div>
</div>
