{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}
    <div class="card p-5 m-5">
        <form method="POST"
              enctype="multipart/form-data" id="documentForm">
            <div id="documentFormInfo" data-document="{{ document }}"></div>
            <div id="documentStatus" data-status="{{ status }}"></div>
            <div id="documentType" data-type="{{ type }}"></div>
            {{ form.csrf_token }}
      
            <div class="mt-3 row">
                <span class="col-2 my-auto">{{ form.title.label }}</span>
                <div class="col-10">{{ form.title(class='form-control', disabled=status == 0) }}</div>
            </div>

            {% if status != 0 %}
            <div class="mt-3 row">
                <span class="col-2 text-start">{{ form.source.label }}</span>
                <div class="col-10">
                    <div id="visual-source-area"></div>
                </div>
            </div>

            <div class="mt-3 row">
                <span class="col-2 text-start">{{ form.watermark.label }}</span>
                <div class="col-10">
                    <div id="visual-watermark-area"></div>
                </div>
            </div>
            {% endif %}

            {% if status == 0 %}
                <div class="mt-3 row">
                    <span class="col-2 text-start"><label id="preview-label" for="preview-contain">预览:&nbsp;&nbsp;&nbsp;&nbsp;</label></span>
                    <div class="col-10">
                        <div id="preview-contain"></div>
                    </div>
                </div>
            {% endif %}

            <div class="mt-4 float-end">
                <button
                        type="button"
                        onclick="window.history.back();"
                        class="btn btn-primary">返回
                </button>
                {% if status != 0 %}
                    <button name="submit" id="submit"
                            type="submit" class="btn btn-outline-primary ms-3">提交
                    </button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="module" src={{ url_for('static', filename='js/pdf/pdf.min.mjs') }}></script>
    <script type="module" src={{ url_for('static', filename='js/document.js') }}></script>
{% endblock %}