@charset "UTF-8";
:root {
  --bs-primary: $primary;
  --bs-primary-rgb: 47, 81, 233;
}

body {
  background-color: #E5E6EC;
}

.header-bg {
  background-color: #2F51E9;
}

/********** 
  * 
  *  button
  *    
 ***********/
.btn-top {
  padding: 0.3rem 1rem;
  border-radius: 1.6rem;
  font-size: 0.8rem;
}

.btn-bottom {
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  margin: 0 0.2rem;
}

.btn-primary {
  background-color: #2F51E9;
  border-color: #2F51E9;
}
.btn-primary:hover {
  background-color: white;
  color: #2F51E9;
}

.btn-outline-primary {
  border-color: #2F51E9;
  color: #2F51E9;
}
.btn-outline-primary:hover {
  color: white !important;
  background-color: #2F51E9;
}

.active > .page-link {
  color: white;
  background-color: #2F51E9;
  border-color: #2F51E9;
}

.page-link {
  color: #2F51E9;
}

.floating-btn {
  position: fixed;
  bottom: 90px;
  right: 120px;
  z-index: 1030;
  /* 确保按钮在其他内容之上 */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2F51E9;
  /* 颜色可以根据需要更改 */
  color: white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}
.floating-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/********** 
  * 
  *  nav
  *    
 ***********/
.workbench-tabs .nav-item .nav-link {
  color: #2F51E9;
  background-color: #fff;
  border-bottom: 1px solid #2F51E9;
}
.workbench-tabs .nav-item .nav-link:hover {
  color: #fff;
  background-color: #2F51E9;
}
.workbench-tabs .nav-item .nav-link.active {
  color: #fff;
  background-color: #2F51E9;
}

.featurette-heading {
  letter-spacing: -0.05rem;
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}
.multi-line-two {
  line-height: 1.5em;
  /* 设置单行高度 */
  min-height: 3em;
  /* 至少两行高度（1.5em * 2）*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* 设置显示的行数 */
  overflow: hidden;
}

#custom-dropdown {
  background-color: #f5f5f5 !important;
}
#custom-dropdown .dropdown-item {
  color: #333 !important;
}
#custom-dropdown .dropdown-item:hover {
  background-color: #2F51E9 !important;
  color: #fff !important;
}

#preview-contain {
  white-space: pre-wrap;
  text-align: left;
  padding: 20px 30px;
  background-color: rgb(212, 212, 215);
}
#preview-contain .docx-contain {
  width: 60%;
  padding: 20px 30px;
  background-color: #fff;
}
#preview-contain canvas {
  display: block;
  border: 1px solid #ddd;
}

/********** 
  * 
  *  pagination
  *    
 ***********/
.pagination .page-item {
  margin: 0 0.1rem;
  padding: 0.1rem 0.1rem;
}
.pagination .page-item .page-link {
  border-top-left-radius: 0.8rem !important;
  border-top-right-radius: 0.8rem !important;
  border-bottom-left-radius: 0.8rem !important;
  border-bottom-right-radius: 0.8rem !important;
  padding: 0.3rem 0.7rem;
}
.pagination .page-item.active .page-link {
  background-color: #2F51E9;
  border-color: #2F51E9;
}

/********** 
  * 
  *  table
  *    
 ***********/
.table th {
  padding: 0.9rem 0.5rem;
}
.table td {
  padding: 0.9rem 0.5rem;
}

.table-menu {
  min-width: 6rem;
}

/********** 
  * 
  *  form
  *    
 ***********/
.form-search {
  position: relative;
  display: inline-block;
}
.form-search .search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 2;
}
.form-search .search-input {
  border-radius: 1.2rem !important;
  font-size: 0.8rem;
  position: relative;
  padding-left: 30px;
}

/********** 
  * 
  *  map
  *    
 ***********/
#map-page {
  width: 100%;
  height: 100vh;
  background-color: #0A1020;
}
#map-page .header-container {
  position: relative;
}
#map-page .header-container .btn-back-home {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}
#map-page .header {
  width: 100%;
  height: 5rem;
  padding: 0 10rem;
  background-color: linear-gradient(to right, #b3c8e6, #a3b1f0, #b3c8e6);
  background-image: url("../images/title_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
#map-page .header .title {
  text-align: center;
  color: #2F51E9;
  font-size: 1.4rem;
  font-weight: 500;
  opacity: 0;
  animation: zoomIn 0.5s linear forwards 0.8s;
}
#map-page .header .title span {
  margin: auto 2.4rem;
}
#map-page .header .left,
#map-page .header .right {
  padding-left: 0;
  margin-bottom: 0;
}
#map-page .header .left li,
#map-page .header .right li {
  list-style: none;
  width: 3.5rem;
  height: 1rem;
  background-color: #2F51E9;
  opacity: 0;
  float: left;
  border-radius: 1rem;
  margin: 0 0.8rem;
}
#map-page .header .left li:nth-of-type(1) {
  animation: show1 0.2s linear forwards;
}
#map-page .header .left li:nth-of-type(2) {
  animation: show2 0.2s linear forwards 0.2s;
}
#map-page .header .left li:nth-of-type(3) {
  animation: show3 0.2s linear forwards 0.4s;
}
#map-page .header .right li {
  float: right;
}
#map-page .header .right li:nth-of-type(1) {
  animation: show1 0.2s linear forwards;
}
#map-page .header .right li:nth-of-type(2) {
  animation: show2 0.2s linear forwards 0.2s;
}
#map-page .header .right li:nth-of-type(3) {
  animation: show3 0.2s linear forwards 0.4s;
}
#map-page .content {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: row;
}
#map-page .content .scroll-carousel {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
#map-page .content .scroll-carousel .list-group {
  border-bottom: none !important;
}
#map-page .content .scroll-carousel .scrollarea .list-group-item {
  color: #fff;
  background-color: rgba(66, 68, 70, 0.12);
  border-color: transparent;
  margin-bottom: 8px;
}
#map-page .content .left,
#map-page .content .right {
  width: 20vw;
}
#map-page .content .left .map-cell-bg,
#map-page .content .right .map-cell-bg {
  color: #fff;
  background-color: rgba(91, 170, 255, 0.12);
}
#map-page .content .left > :last-child {
  margin-top: 1rem;
}
#map-page .content .left .map-cell-bg .map-target {
  height: 35vh;
}
#map-page .content .right > :first-child .map-target {
  height: 30vh;
}
#map-page .content .right > :last-child {
  margin-top: 1rem;
}
#map-page .content .right > :last-child .map-target {
  height: 40vh;
}
#map-page .content .middle {
  flex: 1;
  overflow: hidden;
  justify-content: center;
  position: relative;
}
#map-page .content .middle #map-container {
  width: 100%;
  height: 100%;
}

.labelclass {
  position: absolute;
  cursor: pointer;
  background: rgb(255, 228, 120);
  border: solid 2px #fff;
  white-space: nowrap;
  font: normal 10px/18px arial, sans-serif;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  /* opacity: 0.7; */
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}
@keyframes show1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.25;
  }
}
@keyframes show2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes show3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
@keyframes show4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scroll {
  0% {
    top: 0;
  }
  100% {
    top: -100%;
  }
}

/*# sourceMappingURL=custom.css.map */
