{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block page_content %}

    <div class="card mt-5 px-3 py-3">

        {{ render_form(form) }}

        <div class="mt-4">
            <button
                    type="button"
                    onclick="window.history.back();"
                    class="btn btn-primary float-end">返回
            </button>
            {% if is_view != 0 %}
                <button name="submit" id="submit"
                        type="submit" class="btn btn-primary ms-3">提交
                </button>
            {% endif %}
        </div>
    </div>

{% endblock %}
