{% from 'bootstrap5/utils.html' import render_icon, arg_url_for %}

{% macro build_url(record, endpoint, url_tuples, model, pk_field) %}
    {% if model != None %}
        {% set record = model.query.get(record[pk_field]) %}
    {% endif %}
    {% with url_params = {} -%}
        {%- do url_params.update(request.view_args if not endpoint else {}),
            url_params.update(request.args if not endpoint else {}) -%}
        {% for url_parameter, db_field in url_tuples %}
            {% if db_field.startswith(':') and '.' in db_field %}
                {%- set db_field = db_field[1:].split('.') -%}
                {%- do url_params.update({url_parameter: record[db_field[0]][db_field[1]]}) -%}
            {% elif db_field.startswith(':') %}
                {%- set db_field = db_field[1:] -%}
                {%- do url_params.update({url_parameter: record[db_field]}) -%}
            {% else %}
                {%- do url_params.update({url_parameter: db_field}) -%}
            {% endif %}
        {% endfor %}
        {{ arg_url_for(endpoint, url_params) }}
    {%- endwith %}
{%- endmacro %}

{% macro h_render_table(data,
                      titles=None,
                      primary_key='id',
                      primary_key_title='#',
                      caption=None,
                      table_classes=None,
                      header_classes=None,
                      body_classes=None,
                      responsive=False,
                      responsive_class='table-responsive',
                      safe_columns=None,
                      urlize_columns=None,
                      model=None,
                      show_actions=False,
                      actions_title='Actions',
                      custom_actions=None,
                      view_url=None,
                      edit_url=None,
                      delete_url=None,
                      delete_modal=True,
                      new_url=None,
                      action_pk_placeholder=':id',
                      page=0,
                      per_page=0) %}
    {% if not titles %}
        {% set titles = get_table_titles(data, primary_key, primary_key_title) %}
    {% endif %}
    {% if responsive %}
        <div class="{{ responsive_class }}">
    {% endif %}
   
    
    <table class="table{% if table_classes %}{{ ' ' + table_classes }}{% endif %} align-middle">
        {% if caption %}
            <caption>{{ caption }}</caption>
        {% endif %}
        <thead {% if header_classes %} class="{{ header_classes }}"{% endif %}>
            <tr>
                {% for title in titles %}
                    {% if title[0] == 'index' %}
                        <th scope="col" class="align-middle" style="width:3rem">
                            {{ title[1] }}
                        </th>
                    {% else %}
                        <th scope="col" class="align-middle">
                            {{ title[1] }}
                        </th>
                    {% endif %}
                {% endfor %}
                {% if show_actions %}
                    <th scope="col" class="align-middle" style="width:3rem">{{ actions_title }}
                    </th>
                {% endif %}
            </tr>
        </thead>
        <tbody{% if body_classes %} class="{{ body_classes }}"{% endif %}>
        {% for row in data %}
            {% set outer_index = loop.index %}
            <tr>
                {% for title in titles %}
                    {% set key = title[0] %}
                    {% set value = row[key] %}
                    {%- if key == primary_key -%}
                        <th scope="row" class="align-middle">
                    {%- else -%}
                        <td class="align-middle" {% if key =='index' %} style="width:3rem" {% endif %} >
                    {%- endif -%}
                    {%- if value is string -%}
                        {%- if safe_columns and key in safe_columns -%}
                            {{ value|safe }}
                        {%- else -%}
                            {%- if urlize_columns and key in urlize_columns -%}
                                {{ value|urlize }}
                            {% elif key =='image' %}
                                <img src="{{ value }}" alt="" style="height: 80px; width: 60px;">
                            {%- else -%}
                                {{ value }}
                            {%- endif -%}
                        {%- endif -%}
                    {%- elif value.__class__.__base__.__name__ == 'Enum' -%}
                        {{ value.value }}
                    {%- else -%}
                        {% if key =='index' %}
                            {{ outer_index + (page-1) * per_page }}
                        {% elif key =='updateTime' %}
                            {{ value|format_datetime('%Y-%m-%d %H:%M:%S') }}
                        {% else %}
                            {{ value }}
                        {% endif %}
                    {%- endif -%}
                    {%- if key == primary_key -%}
                        </th>
                    {%- else -%}
                        </td>
                    {%- endif -%}
                {% endfor %}
                {% if show_actions %}
                    <td class="align-middle" style="width: 3rem;">
                        <div class="btn-group dropstart">
                            <i class="bi bi-three-dots-vertical" type="button" data-bs-toggle="dropdown"></i>
                            <ul class="table-menu dropdown-menu">
                                {% if custom_actions %}
                                    {% for (action_name, action_icon, action_url) in custom_actions %}
                                        <a class="dropdown-item btn btn-sm"
                                            {% if action_url is string %}
                                                href="{{ action_url }}"
                                            {% else %}
                                                href="{{ build_url(row, action_url[0], action_url[1], model, primary_key) | trim }}"
                                            {% endif %}
                                            title="{{ action_name }}">{{ render_icon(action_icon) }}</a>
                                    {% endfor %}
                                {% endif %}
                                {% if view_url %}
                                    <li>
                                        <a class="dropdown-item btn btn-sm action-icon text-decoration-none"
                                            {% if view_url is string %}
                                                href="{{ view_url }}"
                                            {% else %}
                                                href="{{ build_url(row, view_url[0], view_url[1], model, primary_key) | trim }}"
                                            {% endif %}
                                            title="{{ config['BOOTSTRAP_TABLE_VIEW_TITLE'] }}">{{ render_icon('eye-fill') }}查看</a>
                                    </li>
                                    
                                {% endif %}
                                {% if edit_url -%}
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item btn btn-sm action-icon text-decoration-none"
                                            {% if edit_url is string %}
                                                href="{{ edit_url }}"
                                            {% else %}
                                                href="{{ build_url(row, edit_url[0], edit_url[1], model, primary_key) | trim }}"
                                            {% endif %}
                                            title="{{ config['BOOTSTRAP_TABLE_EDIT_TITLE'] }}">{{ render_icon('pencil-fill') }}编辑</a>
                                    </li>
                                {%- endif %}
                                {% if delete_url %}
                                    <li><hr class="dropdown-divider"></li>
                                    {% if delete_modal %}
                                        <li>
                                            <a type="button" class="dropdown-item btn btn-sm action-icon text-decoration-none"
                                                    data-id="{{ row.id }}"
                                                    data-name="{{ row.name }}" 
                                                    data-title="{{ row.title }}" 
                                                    data-url="{{ build_url(row, delete_url[0], delete_url[1], model, primary_key) | trim }}"
                                                    onclick="deleteModel(this)" >
                                                        {{ render_icon('trash-fill') }}删除</a>
                                        </li> 
                                    {% else %}
                                        <li>
                                            <form class="d-inline"
                                                    {% if delete_url is string %}
                                                action="{{ delete_url }}"
                                                    {% else %}
                                                action="{{ build_url(row, delete_url[0], delete_url[1], model, primary_key) | trim }}"
                                                    {% endif %}
                                                method="post">
                                                {% if csrf_token is undefined %}
                                                    {{ raise('You have to enable the CSRFProtect extension from Flask-WTF to use delete_url, see the docs for more details (https://bootstrap-flask.readthedocs.io/en/stable/macros.html#render-table).') }}
                                                {% endif %}
                                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                                <button type="submit" class="btn btn-link p-0 border-0 align-baseline"
                                                        title="{{ config['BOOTSTRAP_TABLE_DELETE_TITLE'] }}">
                                                    {{ render_icon('trash-fill') }}
                                                </button>
                                            </form>
                                    </li>    
                                    {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if responsive %}
    </div>
{% endif %}
{% endmacro %}
