{% from 'bootstrap5/pagination.html' import render_pagination %}
{% from 'macros/_macros_table.html' import h_render_table %}

<div class="card px-4 py-3">
    <div class="w-100">
        <div class="d-flex justify-content-between mb-3">
            <form class="d-flex form-search" role="search" id="search-form-newstype">
                <i class="bi bi-search search-icon"></i>
                <input class="form-control search-input  me-2" type="search" placeholder="查询" aria-label="Search">
                <button class="btn btn-outline-success d-none" type="submit">Search</button>
            </form>
    
            <div class="text-end">
                <a title="new" href="{{ url_for('workbench.newstype_detail', status='2') }}" class="btn btn-sm btn-primary btn-top"><i class="bi bi-plus me-1"></i>新增</a>
            </div>
        </div>

        <div id="table-container-newstype">
            {{ h_render_table(data,
                titles=titles,
                actions_title='操作',
                urlize_columns=('text'),
                table_classes='text-center table-hover',
                header_classes='table-light',
                show_actions=True,
                view_url=('workbench.newstype_detail', [('newstype_id', ':id'), ('status', '0')]),
                edit_url=('workbench.newstype_detail', [('newstype_id', ':id'), ('status', '1')]),
                delete_url=('workbench.newstype_delete', [('newstype_id', ':id')]),
                ) }}

        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery/jquery.min.js') }}"></script>
<script>
    $('#search-form-classify input').on('input', function (e) {
        let search = $(this).val()
        $.ajax({
            url: `/product/classify/search?search=${search}`,
            type: 'GET',
            contentType: false,
            processData: false,
            success: function (response) {
                $("#table-container-classify").html(response)
            },
            error: function (xhr, status, error) {
                console.log("error", error)
            }
        });
    })
    function deleteModel(el) {
      let title = el.dataset.title
      let name = el.dataset.name
      let data = name || title || ''
      let id = el.dataset.id
      let url = el.dataset.url
      showModal(`确定要删除「${data}」吗？`, function () {
         $.ajax({
            url: `${url}`,
            type: 'DELETE',
            contentType: false,
            processData: false,
            success: function (response) {
               if (response.data && response.data.redirect) {
                  window.location.href = response.data.redirect;
               }
            },
            error: function (xhr, status, error) {
               showModal(`提交失败!!! ${error}`)
            }
         });
      })
   }
</script>
