{% from 'macros/_macros_table.html' import h_render_table %}

<div class="card px-4 py-3">
    <div class="w-100">
        <div class="d-flex justify-content-between mb-3">
            <form class="d-flex form-search" role="search" id="search-form-classify">
                <i class="bi bi-search search-icon"></i>
                <input class="form-control search-input  me-2" type="search" placeholder="查询" aria-label="Search">
                <button class="btn btn-outline-success d-none" type="submit">Search</button>
            </form>
    
            <div class="text-end">
                <a title="new" href="{{ url_for('workbench.news_detail', status='2') }}" class="btn btn-sm btn-primary btn-top"><i class="bi bi-plus me-1"></i>新增</a>
            </div>
        </div>

        {{ h_render_table(
                        news,
                        titles=titles,
                        actions_title='操作',
                        urlize_columns=('text'),
                        table_classes='table-striped text-center',
                        show_actions=True,
                        delete_modal=True,
                        view_url=('workbench.news_detail', [('news_id', ':id'), ('status', '0')]),
                        edit_url=('workbench.news_detail', [('news_id', ':id'), ('status', '1')]),
                        delete_url=('workbench.news_delete', [('news_id', ':id')]),
                        ) }}
    </div>

</div>