{% extends "base.html" %}


{% block title %}Flasky{% endblock %}

{% block page_content %}

    <div id="charOptProduct" data-char-opt="{{ data1 }}"></div>
    <div id="charOptCustomer" data-char-opt="{{ data2 }}"></div>

    <div class="card mt-5">
        <h5 class="card-header">客户信息</h5>
        <div class="card-body">
            <div id="echartCustomer" style="height: 420px;"></div>
        </div>
    </div>

    <div class="card mt-5 mb-5">
        <h5 class="card-header">成交信息</h5>
        <div class="card-body">
            <div id="echartProduct" style="height: 420px;"></div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='/js/echar/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/index.js') }}"></script>
{% endblock %}